/*

Colors
#f2e4e9

new color scheme
background #24283B
complementary-pink 	#EDC4C0
					#EDAEA8
					#A17672
blue-greyish 	#7B88C7
				#B8C4FF
				#40497A
				#5C6594
				#171F47



*/
body {
	background-color: #becde2;
	color: #6b4e4b;
	font-family: "Merriweather", serif;
	margin: 0px;
	text-align: center;
}

h1 {
	color: #ff90d1;
	font-family: "Sacramento", cursive;
	font-size: 5.625rem;
	line-height: 2;
	margin: 50px auto 0 auto;
}

h2 {
	color: #ff90d1d0;
	font-family: "Montserrat", sans-serif;
	font-size: 3rem;
	font-weight: normal;
}

h3 {
	color: #40497A;
	font-family: "Montserrat", sans-serif;
	font-size: 1.5rem;
}

a {
	color: #7B88C7;
	font-family: "Montserrat", sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}

p {
	font-size: 1.2rem;
	line-height: 2;
}

hr {
	border-color: #B8C4FF;
	border-style: none;
	border-top-style: dotted;
	border-width: 6px;
	width: 4%;
}

/*****************CLASS SELECTORS********************/

.btn {
	background: #a0affa;
	background-image: -webkit-linear-gradient(top, #a0affa, #5C6594);
	background-image: -moz-linear-gradient(top, #a0affa, #5C6594);
	background-image: -ms-linear-gradient(top, #a0affa, #5C6594);
	background-image: -o-linear-gradient(top, #a0affa, #5C6594);
	background-image: linear-gradient(to bottom, #a0affa, #5C6594);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
  }
  
  .btn:hover {
	background: #B8C4FF;
	background-image: -webkit-linear-gradient(top, #a6b1e6, #7B88C7);
	background-image: -moz-linear-gradient(top, #a6b1e6, #7B88C7);
	background-image: -ms-linear-gradient(top, #a6b1e6, #7B88C7);
	background-image: -o-linear-gradient(top, #a6b1e6, #7B88C7);
	background-image: linear-gradient(to bottom, #a6b1e6, #7B88C7);
	text-decoration: none;
  }

.contact-me {
	margin: 100px auto;
}

.contact-text {
	margin: 40px auto 60px;
	width: 40%;
}

.copyright {
	color: #eaf6f6;
	font-family: "Montserrat", sans-serif;
	padding: 20px 0;
}

.intro {
	width: 30%;
	margin: auto;
}

.programmer {
	padding-bottom: 150px;
}

.profile {
	margin: 100px auto;
}

.otherh2 {
	color: #171F47;
	font-family: "Dancing Script", cursive;
	font-weight: bolder;
	font-size: 4rem;
}

.top-container {
	background-color: #24283B;
	padding-top: 100px;
	position: relative;
}

.mountain {
	width: 100%;
}

.middle-container {
	margin-bottom: 100px;
}

.bottom-container {
	background-color: #40497A;
	padding-bottom: 80px;
	padding-top: 100px;
}

.skills {
	margin: 100px auto;
}

.skill-img-left {
	width: 25%;
	float: left;
	margin-right: 30px;
}

.skill-img-right {
	width: 25%;
	float: right;
	margin-left: 30px;
	margin-bottom: 30px;
}

.skill-row {
	height: 100%;
	margin: 100px auto 150px auto;
	text-align: left;
	width: 50%;
}

.skill-text {
	font-size: 1.2rem;
}

.top-cloud {
	width: 200px;
	height: 200px;
	position: absolute;
	right: 150px;
	top: 40px;
}

.bottom-cloud {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 100px;
	bottom: 10px;
}

/****************ID SELECTORS******************/
